

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.main_top {
  background-color: #1c1c1c;
  color: white;
}

.main_bottom {
  background-color: #0282f9;
  color: white;
  img {
    height: 50%;
  }
}

.footer_top {
  background-image: url("./assets/img/footer-bg.jpg");
  color: white;
  ul {
    list-style-type: none;
    color: grey;
    li:hover{
      color: white;
      cursor: pointer;
    }
  }
}

.footer_bottom {
  padding: 1.5rem 0;
  background-color: #303030;
  color: white;
}

#sign_button {
  padding: 1rem;
  border: 2px solid #0282f9;
  &:hover{
    cursor: pointer;
  }
}

.blue {
  color: #0282f9;
  &:hover{
    cursor: pointer;
  }
}

.bg_dc{
  background-image: url("./assets/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
