* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(35, 35, 35);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1152px;
  margin: auto;
}

.container_main {
  width: 1152px;
  margin: auto;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
}

.logo {
  max-width: fit-content;
}

header {
  height: 100px;
  background-color: white;
  padding: 1rem 0;
}

.main_top {
  background-color: #1c1c1c;
  color: white;
}

.main_bottom {
  background-color: #0282f9;
  color: white;
}

.main_content {
  display: flex;
  align-items: center;
  height: 150px;
}

.blue_banner {
  height: 150px;
  display: flex;
  justify-content: space-around;
}

.footer_top {
  background-image: url("./assets/img/footer-bg.jpg");
  color: white;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.footer_top ul {
  list-style-type: none;
}

.footer_bottom {
  height: 100px;
  background-color: #303030;
}

#dc_comics {
  margin-bottom: 1rem;
}
